<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <i class="fa-brands fa-instagram" title="Instagram"></i>
            <i class="fa-brands fa-facebook" title="Facebook"></i>
            <i class="fa-brands fa-x-twitter" title="X / Twitter"></i>
        </div>
        <div class="f-info-brands">&copy; 2025 StayNest Private Limited. All rights reserved.</div>
        <div class="f-info-links">
            <a href="/privacy">Privacy Policy</a>
            <a href="/t&c">Terms &amp; Conditions</a>
        </div>
    </div>
</footer>