<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-x-twitter"></i>
        </div>
        <div class="f-info-brands"> &copy;StayNest Private Limited.</div>
        <div class="f-info-links">
            <a href="/privacy">Privacy Policy</a>
            <a href="/t&c">Terms and Conditions</a>
        </div>
    </div>
</footer>