<% layout("/layouts/boilerplate.ejs") %>
    <div class="row">
        <div class="col-8 offset-2">
            <br /><br />
            <h3>Login</h3>
            <form method="POST" action="/login" novalidate class="">
                <div class="mb-3">
                    <label for="username" class="form-label ">Username</label>
                    <input type="text" class="form-control" id="username" name="username"
                        placeholder="Enter your username" required>
                    <div class="invalid-feedback"> username not found</div>
                </div>



                <div class="mb-3">
                    <label for="password" class="form-label ">Password</label>
                    <input type="password" class="form-control" id="password" name="password"
                        placeholder="Enter your password" required>
                    <div class="invalid-feedback">Incorrect password</div>
                </div>

                <button class="btn btn-dark " type="submit">Login</button>
            </form>
        </div>
    </div>